In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/sanjeevzin/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [2]:
df=pd.read_csv("drugsComTrain_raw.csv")

In [11]:
df.head()

,uniqueID,drugName,condition,review,rating,date,usefulCount
0,206461,Valsartan,Left Ventricular Dysfunction,"""It has no side effect, I take it in combinati...",9,20-May-12,27
1,95260,Guanfacine,ADHD,"""My son is halfway through his fourth week of ...",8,27-Apr-10,192
2,92703,Lybrel,Birth Control,"""I used to take another oral contraceptive, wh...",5,14-Dec-09,17
3,138000,Ortho Evra,Birth Control,"""This is my first time using any form of birth...",8,3-Nov-15,10
4,35696,Buprenorphine / naloxone,Opiate Dependence,"""Suboxone has completely turned my life around...",9,27-Nov-16,37

In [28]:
stopwords=nltk.corpus.stopwords.words('english')
len(stopwords[:])

179

In [13]:
df["cleaned_review"]=df["review"].apply(lambda x:x.split())
df["cleaned_review"]

0         ["It, has, no, side, effect,, I, take, it, in,...
1         ["My, son, is, halfway, through, his, fourth, ...
2         ["I, used, to, take, another, oral, contracept...
3         ["This, is, my, first, time, using, any, form,...
4         ["Suboxone, has, completely, turned, my, life,...
                                ...
161292    ["I, wrote, my, first, report, in, Mid-October...
161293    ["I, was, given, this, in, IV, before, surgey....
161294    ["Limited, improvement, after, 4, months,, dev...
161295    ["I&#039;ve, been, on, thyroid, medication, 49...
161296    ["I&#039;ve, had, chronic, constipation, all, ...
Name: cleaned_review, Length: 161297, dtype: object

In [15]:
def remove_sw(ls):
    l=[word for word in ls if word not in stopwords]
    return l
df["cleaned_review"]=df["cleaned_review"].apply(lambda x:remove_sw(x))
df.tail()

,uniqueID,drugName,condition,review,rating,date,usefulCount,cleaned_review
161292,191035,Campral,Alcohol Dependence,"""I wrote my first report in Mid-October of 201...",10,31-May-15,125,"[""I, wrote, first, report, Mid-October, 2014.,..."
161293,127085,Metoclopramide,Nausea/Vomiting,"""I was given this in IV before surgey. I immed...",1,1-Nov-11,34,"[""I, given, IV, surgey., I, immediately, becam..."
161294,187382,Orencia,Rheumatoid Arthritis,"""Limited improvement after 4 months, developed...",2,15-Mar-14,35,"[""Limited, improvement, 4, months,, developed,..."
161295,47128,Thyroid desiccated,Underactive Thyroid,"""I&#039;ve been on thyroid medication 49 years...",10,19-Sep-15,79,"[""I&#039;ve, thyroid, medication, 49, years,, ..."
161296,215220,Lubiprostone,"Constipation, Chronic","""I&#039;ve had chronic constipation all my adu...",9,13-Dec-14,116,"[""I&#039;ve, chronic, constipation, adult, lif..."

In [33]:
def remove(ls):
    l=[word for word in ls if word!="\"I&#039;ve"]
    return l
df["cleaned_review"]=df["cleaned_review"].apply(lambda x:remove(x))
def firstword(sentence):
    s=sentence[0][1:]
    sentence[0]=s
    return sentence
    
df["cleaned_review"]=df["cleaned_review"].apply(lambda x:firstword(x))

In [34]:
df.head()

,uniqueID,drugName,condition,review,rating,date,usefulCount,cleaned_review
0,206461,Valsartan,Left Ventricular Dysfunction,"""It has no side effect, I take it in combinati...",9,20-May-12,27,"[It, side, effect,, I, take, combination, Byst..."
1,95260,Guanfacine,ADHD,"""My son is halfway through his fourth week of ...",8,27-Apr-10,192,"[My, son, halfway, fourth, week, Intuniv., We,..."
2,92703,Lybrel,Birth Control,"""I used to take another oral contraceptive, wh...",5,14-Dec-09,17,"[I, used, take, another, oral, contraceptive,,..."
3,138000,Ortho Evra,Birth Control,"""This is my first time using any form of birth...",8,3-Nov-15,10,"[This, first, time, using, form, birth, contro..."
4,35696,Buprenorphine / naloxone,Opiate Dependence,"""Suboxone has completely turned my life around...",9,27-Nov-16,37,"[Suboxone, completely, turned, life, around., ..."

In [35]:
def remove_sw(ls):
    l=[word for word in ls if word not in stopwords]
    return l
df["cleaned_review"]=df["cleaned_review"].apply(lambda x:remove_sw(x))
df.tail()

,uniqueID,drugName,condition,review,rating,date,usefulCount,cleaned_review
161292,191035,Campral,Alcohol Dependence,"""I wrote my first report in Mid-October of 201...",10,31-May-15,125,"[I, wrote, first, report, Mid-October, 2014., ..."
161293,127085,Metoclopramide,Nausea/Vomiting,"""I was given this in IV before surgey. I immed...",1,1-Nov-11,34,"[I, given, IV, surgey., I, immediately, became..."
161294,187382,Orencia,Rheumatoid Arthritis,"""Limited improvement after 4 months, developed...",2,15-Mar-14,35,"[Limited, improvement, 4, months,, developed, ..."
161295,47128,Thyroid desiccated,Underactive Thyroid,"""I&#039;ve been on thyroid medication 49 years...",10,19-Sep-15,79,"[hyroid, medication, 49, years,, I, spent, fir..."
161296,215220,Lubiprostone,"Constipation, Chronic","""I&#039;ve had chronic constipation all my adu...",9,13-Dec-14,116,"[hronic, constipation, adult, life., Tried, Li..."

In [38]:
df.drop(['review'], axis = 1, inplace=True)

In [39]:
df.head()

,uniqueID,drugName,condition,rating,date,usefulCount,cleaned_review
0,206461,Valsartan,Left Ventricular Dysfunction,9,20-May-12,27,"[It, side, effect,, I, take, combination, Byst..."
1,95260,Guanfacine,ADHD,8,27-Apr-10,192,"[My, son, halfway, fourth, week, Intuniv., We,..."
2,92703,Lybrel,Birth Control,5,14-Dec-09,17,"[I, used, take, another, oral, contraceptive,,..."
3,138000,Ortho Evra,Birth Control,8,3-Nov-15,10,"[This, first, time, using, form, birth, contro..."
4,35696,Buprenorphine / naloxone,Opiate Dependence,9,27-Nov-16,37,"[Suboxone, completely, turned, life, around., ..."