In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import nltk

## Retrieving data

In [17]:
df=pd.read_csv("drugsComTrain_raw.csv")

In [18]:
df.head()

,uniqueID,drugName,condition,review,rating,date,usefulCount
0,206461,Valsartan,Left Ventricular Dysfunction,"""It has no side effect, I take it in combinati...",9,20-May-12,27
1,95260,Guanfacine,ADHD,"""My son is halfway through his fourth week of ...",8,27-Apr-10,192
2,92703,Lybrel,Birth Control,"""I used to take another oral contraceptive, wh...",5,14-Dec-09,17
3,138000,Ortho Evra,Birth Control,"""This is my first time using any form of birth...",8,3-Nov-15,10
4,35696,Buprenorphine / naloxone,Opiate Dependence,"""Suboxone has completely turned my life around...",9,27-Nov-16,37

## making stopwords list in stopwords variable

In [19]:
stopwords=nltk.corpus.stopwords.words('english')
len(stopwords[:])

179

Making cleaned review column to make list of sentences of the column review

In [20]:
df["cleaned_review"]=df["review"].apply(lambda x:x.split())
df["cleaned_review"]

0         ["It, has, no, side, effect,, I, take, it, in,...
1         ["My, son, is, halfway, through, his, fourth, ...
2         ["I, used, to, take, another, oral, contracept...
3         ["This, is, my, first, time, using, any, form,...
4         ["Suboxone, has, completely, turned, my, life,...
                                ...
161292    ["I, wrote, my, first, report, in, Mid-October...
161293    ["I, was, given, this, in, IV, before, surgey....
161294    ["Limited, improvement, after, 4, months,, dev...
161295    ["I&#039;ve, been, on, thyroid, medication, 49...
161296    ["I&#039;ve, had, chronic, constipation, all, ...
Name: cleaned_review, Length: 161297, dtype: object

    ## removing stop words from sentences lists in cleaned review column

In [21]:
def remove_sw(ls):
    l=[word for word in ls if word not in stopwords]
    return l
df["cleaned_review"]=df["cleaned_review"].apply(lambda x:remove_sw(x))
df.tail()

,uniqueID,drugName,condition,review,rating,date,usefulCount,cleaned_review
161292,191035,Campral,Alcohol Dependence,"""I wrote my first report in Mid-October of 201...",10,31-May-15,125,"[""I, wrote, first, report, Mid-October, 2014.,..."
161293,127085,Metoclopramide,Nausea/Vomiting,"""I was given this in IV before surgey. I immed...",1,1-Nov-11,34,"[""I, given, IV, surgey., I, immediately, becam..."
161294,187382,Orencia,Rheumatoid Arthritis,"""Limited improvement after 4 months, developed...",2,15-Mar-14,35,"[""Limited, improvement, 4, months,, developed,..."
161295,47128,Thyroid desiccated,Underactive Thyroid,"""I&#039;ve been on thyroid medication 49 years...",10,19-Sep-15,79,"[""I&#039;ve, thyroid, medication, 49, years,, ..."
161296,215220,Lubiprostone,"Constipation, Chronic","""I&#039;ve had chronic constipation all my adu...",9,13-Dec-14,116,"[""I&#039;ve, chronic, constipation, adult, lif..."

## Some words in the lists are "I&#039;ve so we have to remove them
    # also some of the first words start with (") so we have to remove it

In [7]:
def remove(ls):
    l=[word for word in ls if word!="\"I&#039;ve"]
    return l
df["cleaned_review"]=df["cleaned_review"].apply(lambda x:remove(x))
def firstword(sentence):
    if sentence[0][0]=='\"':
        s=sentence[0][1:]
        sentence[0]=s
        return sentence
    else:
        return sentence
    
df["cleaned_review"]=df["cleaned_review"].apply(lambda x:firstword(x))

In [22]:
df.tail()

,uniqueID,drugName,condition,review,rating,date,usefulCount,cleaned_review
161292,191035,Campral,Alcohol Dependence,"""I wrote my first report in Mid-October of 201...",10,31-May-15,125,"[""I, wrote, first, report, Mid-October, 2014.,..."
161293,127085,Metoclopramide,Nausea/Vomiting,"""I was given this in IV before surgey. I immed...",1,1-Nov-11,34,"[""I, given, IV, surgey., I, immediately, becam..."
161294,187382,Orencia,Rheumatoid Arthritis,"""Limited improvement after 4 months, developed...",2,15-Mar-14,35,"[""Limited, improvement, 4, months,, developed,..."
161295,47128,Thyroid desiccated,Underactive Thyroid,"""I&#039;ve been on thyroid medication 49 years...",10,19-Sep-15,79,"[""I&#039;ve, thyroid, medication, 49, years,, ..."
161296,215220,Lubiprostone,"Constipation, Chronic","""I&#039;ve had chronic constipation all my adu...",9,13-Dec-14,116,"[""I&#039;ve, chronic, constipation, adult, lif..."

## now again remove stop words as some words are now formed after doing above process

In [23]:
def remove_sw(ls):
    l=[word for word in ls if word not in stopwords]
    return l
df["cleaned_review"]=df["cleaned_review"].apply(lambda x:remove_sw(x))
df.tail()

,uniqueID,drugName,condition,review,rating,date,usefulCount,cleaned_review
161292,191035,Campral,Alcohol Dependence,"""I wrote my first report in Mid-October of 201...",10,31-May-15,125,"[""I, wrote, first, report, Mid-October, 2014.,..."
161293,127085,Metoclopramide,Nausea/Vomiting,"""I was given this in IV before surgey. I immed...",1,1-Nov-11,34,"[""I, given, IV, surgey., I, immediately, becam..."
161294,187382,Orencia,Rheumatoid Arthritis,"""Limited improvement after 4 months, developed...",2,15-Mar-14,35,"[""Limited, improvement, 4, months,, developed,..."
161295,47128,Thyroid desiccated,Underactive Thyroid,"""I&#039;ve been on thyroid medication 49 years...",10,19-Sep-15,79,"[""I&#039;ve, thyroid, medication, 49, years,, ..."
161296,215220,Lubiprostone,"Constipation, Chronic","""I&#039;ve had chronic constipation all my adu...",9,13-Dec-14,116,"[""I&#039;ve, chronic, constipation, adult, lif..."

In [26]:
df.drop(['review'], axis = 1, inplace=True)

KeyError: "['review'] not found in axis"

In [27]:
df.tail()

,uniqueID,drugName,condition,rating,date,usefulCount,cleaned_review
161292,191035,Campral,Alcohol Dependence,10,31-May-15,125,"[""I, wrote, first, report, Mid-October, 2014.,..."
161293,127085,Metoclopramide,Nausea/Vomiting,1,1-Nov-11,34,"[""I, given, IV, surgey., I, immediately, becam..."
161294,187382,Orencia,Rheumatoid Arthritis,2,15-Mar-14,35,"[""Limited, improvement, 4, months,, developed,..."
161295,47128,Thyroid desiccated,Underactive Thyroid,10,19-Sep-15,79,"[""I&#039;ve, thyroid, medication, 49, years,, ..."
161296,215220,Lubiprostone,"Constipation, Chronic",9,13-Dec-14,116,"[""I&#039;ve, chronic, constipation, adult, lif..."

In [28]:
df.describe

<bound method NDFrame.describe of         uniqueID                  drugName                     condition  \
0         206461                 Valsartan  Left Ventricular Dysfunction
1          95260                Guanfacine                          ADHD
2          92703                    Lybrel                 Birth Control
3         138000                Ortho Evra                 Birth Control
4          35696  Buprenorphine / naloxone             Opiate Dependence
...          ...                       ...                           ...
161292    191035                   Campral            Alcohol Dependence
161293    127085            Metoclopramide               Nausea/Vomiting
161294    187382                   Orencia          Rheumatoid Arthritis
161295     47128        Thyroid desiccated           Underactive Thyroid
161296    215220              Lubiprostone         Constipation, Chronic

        rating       date  usefulCount  \
0            9  20-May-12           27
1            8  27-Apr-10          192
2            5  14-Dec-09           17
3            8   3-Nov-15           10
4            9  27-Nov-16           37
...        ...        ...          ...
161292      10  31-May-15          125
161293       1   1-Nov-11           34
161294       2  15-Mar-14           35
161295      10  19-Sep-15           79
161296       9  13-Dec-14          116

                                           cleaned_review
0       ["It, side, effect,, I, take, combination, Bys...
1       ["My, son, halfway, fourth, week, Intuniv., We...
2       ["I, used, take, another, oral, contraceptive,...
3       ["This, first, time, using, form, birth, contr...
4       ["Suboxone, completely, turned, life, around.,...
...                                                   ...
161292  ["I, wrote, first, report, Mid-October, 2014.,...
161293  ["I, given, IV, surgey., I, immediately, becam...
161294  ["Limited, improvement, 4, months,, developed,...
161295  ["I&#039;ve, thyroid, medication, 49, years,, ...
161296  ["I&#039;ve, chronic, constipation, adult, lif...

[161297 rows x 7 columns]>

In [13]:
df.count

<bound method DataFrame.count of         uniqueID                  drugName                     condition  \
0         206461                 Valsartan  Left Ventricular Dysfunction
1          95260                Guanfacine                          ADHD
2          92703                    Lybrel                 Birth Control
3         138000                Ortho Evra                 Birth Control
4          35696  Buprenorphine / naloxone             Opiate Dependence
...          ...                       ...                           ...
161292    191035                   Campral            Alcohol Dependence
161293    127085            Metoclopramide               Nausea/Vomiting
161294    187382                   Orencia          Rheumatoid Arthritis
161295     47128        Thyroid desiccated           Underactive Thyroid
161296    215220              Lubiprostone         Constipation, Chronic

        rating       date  usefulCount  \
0            9  20-May-12           27
1            8  27-Apr-10          192
2            5  14-Dec-09           17
3            8   3-Nov-15           10
4            9  27-Nov-16           37
...        ...        ...          ...
161292      10  31-May-15          125
161293       1   1-Nov-11           34
161294       2  15-Mar-14           35
161295      10  19-Sep-15           79
161296       9  13-Dec-14          116

                                           cleaned_review
0       [It, side, effect,, I, take, combination, Byst...
1       [My, son, halfway, fourth, week, Intuniv., We,...
2       [I, used, take, another, oral, contraceptive,,...
3       [This, first, time, using, form, birth, contro...
4       [Suboxone, completely, turned, life, around., ...
...                                                   ...
161292  [I, wrote, first, report, Mid-October, 2014., ...
161293  [I, given, IV, surgey., I, immediately, became...
161294  [Limited, improvement, 4, months,, developed, ...
161295  [thyroid, medication, 49, years,, I, spent, fi...
161296  [chronic, constipation, adult, life., Tried, L...

[161297 rows x 7 columns]>

## checking whether column is tokenised or not

In [30]:
l=df["cleaned_review"][0]
l

['"It',
 'side',
 'effect,',
 'I',
 'take',
 'combination',
 'Bystolic',
 '5',
 'Mg',
 'Fish',
 'Oil"']

# STEM SENTENCE FUNCTION

In [31]:
from nltk.stem import PorterStemmer
porter=PorterStemmer()

In [32]:
def stemsentence(token_words):
    stem_sentence=[]
    for word in token_words:
        stem_sentence.append(porter.stem(word))
    return stem_sentence
df["cleaned_review"]=df["cleaned_review"].apply(lambda x:stemsentence(x))

In [35]:

df["cleaned_review"][0]

['"it',
 'side',
 'effect,',
 'I',
 'take',
 'combin',
 'bystol',
 '5',
 'Mg',
 'fish',
 'oil"']

In [36]:
df["cleaned_review"][1]

['"mi',
 'son',
 'halfway',
 'fourth',
 'week',
 'intuniv.',
 'We',
 'becam',
 'concern',
 'began',
 'last',
 'week,',
 'start',
 'take',
 'highest',
 'dose',
 'on.',
 'for',
 'two',
 'days,',
 'could',
 'hardli',
 'get',
 'bed,',
 'cranky,',
 'slept',
 'nearli',
 '8',
 'hour',
 'drive',
 'home',
 'school',
 'vacat',
 '(veri',
 'unusu',
 'him.)',
 'I',
 'call',
 'doctor',
 'monday',
 'morn',
 'said',
 'stick',
 'days.',
 'see',
 'school,',
 'get',
 'morning.',
 'the',
 'last',
 'two',
 'day',
 'problem',
 'free.',
 'He',
 'much',
 'agreeabl',
 'ever.',
 'He',
 'less',
 'emot',
 '(a',
 'good',
 'thing),',
 'less',
 'cranky.',
 'He',
 'rememb',
 'thing',
 'should.',
 'overal',
 'behavior',
 'better.',
 'We',
 'tri',
 'mani',
 'differ',
 'medic',
 'far',
 'effective."']

stemming done in cleaned review column

     #Below cell is just to remove punctuations from tokenize sentences

In [38]:
punctuations=['.','?','!',':',',',';']

def remove_punctuations(tokenize_sentence):
    for word in tokenize_sentence:
        if word in punctuations:
            tokenize_sentence.remove(word)
    return tokenize_sentence
df["cleaned_review"]=df["cleaned_review"].apply(lambda x:remove_punctuations(x))

In [39]:
df["cleaned_review"][0]

['"it',
 'side',
 'effect,',
 'I',
 'take',
 'combin',
 'bystol',
 '5',
 'Mg',
 'fish',
 'oil"']

In [41]:
df[["cleaned_review"]].head()

                                      cleaned_review
0  ["it, side, effect,, I, take, combin, bystol, ...
1  ["mi, son, halfway, fourth, week, intuniv., We...
2  ["I, use, take, anoth, oral, contraceptive,, 2...
3  ["thi, first, time, use, form, birth, control....
4  ["suboxon, complet, turn, life, around., I, fe...

 ## Now as lemmatization and stemming is done we shall look upon tf/idf  vectorizer

In [21]:
from sklearn.feature_extraction.text import CountVectorizer

In [22]:
cv=CountVectorizer()

In [24]:
#df["vectorizer"]=df["cleaned_review"].apply(lambda x:cv.fit_transform(x))

ValueError: empty vocabulary; perhaps the documents only contain stop words